[Unit]
Description=UDP Capture Service for hafx debug data for m5 detector
After=network.target
PartOf=det-parent.target

[Service]
Type=notify
Restart=always
RestartSec=1
User=sat
WorkingDirectory=/SAT/LIVE/DET-SCI/
EnvironmentFile=/etc/environment
ExecStart=udp_capture -l $HAFX_M5_DBG_PORT -b $HAFX_M5_DBG_BASE -T $HAFX_M5_DBG_TIME -t $HAFX_M5_DBG_IDLE -m $HAFX_M5_DBG_MAXF -p udp_post_process

[Install]
WantedBy=multi-user.target
