[Unit]
Description=UDP Capture Service for HaFX science data from x1 detector
After=network.target
PartOf=det-parent.target

[Service]
Type=notify
Restart=always
RestartSec=1
User=sat
WorkingDirectory=/SAT/LIVE/DET-SCI/
EnvironmentFile=/etc/environment
ExecStart=udp_capture -l $HAFX_X1_SCI_PORT -b $HAFX_X1_SCI_BASE -T $HAFX_X1_SCI_TIME -t $HAFX_X1_SCI_IDLE -p udp_post_process

[Install]
WantedBy=multi-user.target
